@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // box-sizingの初期値はcontent-box
    // box-sizing: content-box;
}

body {
    color: #333;
    font-family: sans-serif;
}

p {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.2px;
}


a {
    color: #333;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;

    li {
        list-style: none;
    }
}

.site_width {
    width: 825px;
    margin: 0 auto;
}

.header {
    height: 270px;
}

// header
.header_sbs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 20px;
    padding-top: 135px;

    .header_li_p {
        margin-right: 40px;

        &:last-child {
            margin-right: 30px;
        }
    }

    .header_li {
        img {
            width: 20px;
            height: auto;
            margin-top: -5px;
        }
    }
}

.hero_img {
    object-fit: fill;
    height: 420px;

    img {
        width: 100%;
        height: 100%;
    }
}

.about,
.works,
.news,
.contact {
    width: 827px;
    padding: 85px 0 45px;
    margin: 0 auto;

    h2 {
        text-align: center;
        margin: 0;
    }
}

.about {
    .name {
        margin-top: 70px;

    }

    .atum {
        margin-top: 36px;

        .tel,
        .url,
        .mail {
            margin-top: 7px;
        }
    }

    .profile_txt {
        margin-top: 34px;

        .profile_txt_p {
            letter-spacing: 0.6px;
            line-height: 1.5;
        }
    }
}

.works {

    // padding-bottom: ;
    .works_contents_img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 28px;
        margin-top: 65px;
        padding-bottom: 26px;

        .worksimg {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.news {
    .news_txt {
        width: 827px;
        margin-top: 65px;

        .news_content {
            display: flex;
            // justify-content: left;
            padding: 20px 0;
            width: 100%;
            border-top: 1px dotted black;


            &:last-child {
                border-bottom: 1px dotted black;
            }


            p {
                // padding-top: 10px;
                // padding-bottom: 10px;
                line-height: 0.8;
            }

            .news_date {
                margin-left: 15px;
            }

            .news_txt_p {
                margin-left: 80px;
            }
        }
    }
}

.contact {
    .contact_form {
        padding-top: 65px;

        .name_form,
        .email_form,
        .message_form {
            font-size: 14px;
            letter-spacing: 0.2px;
            line-height: 1.1;
            // margin-right: 50px;
            display: flex;
            justify-content: space-between;
        }

        .email_form,
        .message_form {
            margin-top: 10px;
        }

        .name_label,
        .email_label,
        .message_label {
            display: block;
            width: 100px;
            height: 30px;
            // width: ;
        }

        #name_txt,
        #email_txt,
        #message_txt {
            display: block;
            width: 702px;
            // margin: 0 0 10px 76px;
        }

        #name_txt,
        #email_txt {
            height: 43px;
        }

        #message_txt {
            height: 160px;
        }

        .contact_button {
            // margin-left:auto;
            // margin-right: auto;
            text-align: center;
            margin-top: 35px;
            .button {
                width: 200px;
                height: 52px;
                background-color: black;
                color: white;
            }
        }
    }
}

.footer {
    background-color: black;
    color: white;
    height: 32px;
    margin-top: 86px;
    text-align: center;
    p {
        padding: 11px 0 0 0;
        font-size: 8px;
    }
}